<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Video Management</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!--Material Design-->
        <link rel="style" href="{{url_for('static', filename='bootstrap-material/css/roboto.min.css')}}" type="text/css" />
        <link rel="style" href="{{url_for('static', filename='bootstrap-material/css/material.min.css')}}" type="text/css" />
        <link rel="style" href="{{url_for('static', filename='bootstrap-material/css/ripplesmin.css')}}" type="text/css" />
    </head>
    <body>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-material/js/ripples.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='bootstrap-material/js/material.min.js')}}"></script>
        <script type="text/javascript" charset="utf-8">
            $(function(){
                    $.material.init()
                    })
        </script>
    </body>
</html>
